<footer class="footer">
    <div class="footer-background">
        <div class="footer-page">
            <h3 class="footer-page__title">Pages</h3>
            <div>
                <div class="footer-page__title-div-home-link">
                    <a class="footer-page__title-home-link" href="index.html">Home</a>
                </div>
                <div class="footer-page__title-div-product-link">
                    <a class="footer-page__title-product-link" href="product.html">Product</a>
                </div>
                <div class="footer-page__title-div-about-link">
                    <a class="footer-page__title-about-link" href="about.html">About</a>
                </div>
                <div class="footer-page__title-div-contact-link">
                    <a class="footer-page__title-contact-link" href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="footer-developers">
            <h3 class="footer-developers__title">Developers</h3>
            <ul class="footer-developers__team1">
                <li>Eleanor Edwards</li>
                <li>Ted Robertson</li>
                <li>Annette Russell</li>
                <li>Jennie Mckinney</li>
            </ul>
            <ul class="footer-developers__team2">
                <li>Philip Jones</li>
                <li>Colleen Russell</li>
                <li>Marvin Hawkins</li>
                <li>Bruce Simmmons</li>
            </ul>
        </div>
        <div class="footer-link">
            <div class="footer-link__adress">
                <img class="footer-link__adress-icon" src="img/icon-geoposition-light.png" alt="Geoposition">
                <p class="footer-link__adress-text">7480 Mockingbird Hill undefined</p>

            </div>
            <div class="footer-link__phone">
                <img class="footer-link__phone-icon" src="img/icon-phone-light.png" alt="Phone">
                <a href="tel:00000000"><p class="footer-link__phone-text">(239) 555-0108</p></a>
            </div>
            <div class="footer-link__socmedia">
                <a href="#"><img class="footer-link__socmedia-facebook" src="img/ant-design_facebook.png" alt="Facebook"></a>
                <a href="#"><img class="footer-link__socmedia-linkedid" src="img/ant-design_linkedin.png" alt="Linkedin"></a>
                <a href="#"><img class="footer-link__socmedia-twitter" src="img/ant-design_twitter.png" alt="Twitter"></a>
            </div>
        </div>
    </div>
</footer>