<header class="header">
    <div class="header__inner">
        <div class="header__nav">
            <div class="header__box-logo-btn">
                <div class="header__nav-logo">
                    <img class="header__nav-logo-icon" src="img/logo-figma.png" alt="Figma">
                </div>
                <div class="header__burger-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__box-navlist-soclink">
                <nav class="header__nav-list-contanier">
                    <div class="header__nav-list">
                        <a class="header__nav-item" href="#">Home</a>
                    </div>
                    <div class="header__nav-list">
                        <a class="header__nav-item" href="#">Product</a>
                    </div>
                    <div class="header__nav-list">
                        <a class="header__nav-item" href="#">About</a>
                    </div>
                    <div class="header__nav-list">
                        <a class="header__nav-item" href="#">Contact</a>
                    </div>
                </nav>
                <div class="header__social-links">
                    <a href="#"><img class="header__social-links-icon" src="img/ant-design_facebook.png"
                            alt="Facebook"></a>
                    <a href="#"><img class="header__social-links-icon" src="img/ant-design_linkedin.png"
                            alt="LinkedIn"></a>
                    <a href="#"><img class="header__social-links-icon" src="img/ant-design_twitter.png"
                            alt="Twitter"></a>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div>
                <div class="header__title-contanier">
                    <h1 class="header__title">The best products start with Figma</h1>
                </div>
                <div class="header__subtitle-contanier">
                    <h4 class="header__subtitle-part1">Most calendars are designed for teams.<span
                            class="header__subtitle-part2"> Slate is designed for freelancers</span></h4>
                </div>
            </div>
            <div class="header__cta">
                <a class="header__cta-link" href="#">Try For<span class="header__cta-link-part2"> Free</span></a>
            </div>
        </div>
    </div>
</header>