<!-- Contact Us -->
<section class="contact">

    <div class="contact-header-container">
        <div class="contact-header-contanier__title-container">
            <h2 id="contact-us" class="contact-header-contanier__title">Contact Us</h2>
        </div>
        <div class="contact__subtitle-container">
            <h4 class="contact-header-contanier__subtitle-part1">Most calendars are designed for teams. <span
                    class="contact-header-contanier__subtitle-part2">Slate is
                    designed for freelancers</span></h4>
        </div>
    </div>

    <div class="contact-form">
        <h3 class="contact-form__title">Contact Us</h3>
        <form id="contact-form-formspree" class="contact-form__container container" action="https://formspree.io/f/xeqbqebg" method="post">
            <div class="container-div-name-cell">
                <input class="container-name-cell" type="text" placeholder="Your name" name="name">
            </div>
            <div class="container-div-email-cell">
                <input class="container-email-cell" type="email" placeholder="Your email*" name="email">
            </div>
            <div class="container-div-message-cell">
                <textarea class="container-message-cell" placeholder="Your message" name="message"></textarea>
            </div>
            <button id="" class="container-button-send" type="submit">Send</button>
            <div id="contact-form-status"></div>
        </form>
    </div>

    <div class="contact-map">

        <div class="contact-map__info info">
            <div class="info-geopos">
                <div class="info-geopos-div-icon-adress">
                    <img class="info-icon" src="img/bx-map.svg" alt="Geoposition">
                </div>
                <div class="info-geopos-div-text-adress">
                    <p class="info-geopos-text-adress">6386 Spring St undefined Anchorage, Georgia 12473 United
                        States
                    </p>
                </div>
            </div>

            <div class="info-phone">
                <div class="info-phone-div-icon">
                    <img class="info-icon" src="img/baseline-phone-android.svg" alt="Phone">
                </div>
                <div class="info-phone-div-number">
                    <a class="info-phone-number" href="tel:(845)66504328">(845)66504328</a>
                </div>
            </div>

            <div class="info-mail">
                <div class="info-mail-div-icon">
                    <img class="info-icon" src="img/mail-outlined.svg" alt="Email">
                </div>
                <div class="info-mail-div-adress">
                    <a class="info-mail-adress"
                        href="mailto:willie.jennings@example.com">willie.jennings@example.com</a>
                </div>
            </div>
        </div>

        <div class="contact-map__google-maps">
            <iframe class="contact-map__google"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.075323923767!2d30.4721233!3d50.4851493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdf060730d19%3A0xf4b6c7746f3c4f0c!2z0JXQn9CG0KbQldCd0KLQoA!5e0!3m2!1sru!2sua!4v1688739234665!5m2!1sru!2sua"
                 style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="contact-map__socmedia">
            <a href="#"><img class="contact-map__socmedia-icon" src="img/ant-design_facebook-blue.png" alt="Facebook"></a>            
            <a href="#"><img class="contact-map__socmedia-icon" src="img/ant-design_linkedin-blue.png" alt="Linkedin"></a>
            <a href="#"><img class="contact-map__socmedia-icon" src="img/ant-design_twitter-blue.png" alt="Twitter"></a>
        </div>

    </div>
</section>