<!-- Fastest way -->
<section class="fastest-way">

    <div class="fastest-way__text-container">
        <div class="fastest-way__text-title-container">
            <h2 class="fastest-way__text-title">Fastest way to organize</h2>
        </div>
        <div class="fastest-way__text-subtitle-container">
            <h4 class="fastest-way__text-subtitle-fistpart">Most calendars are designed for teams.</h4>
            <h4 class="fastest-way__text-subtitle-secondpart">Slate is designed for freelancers</h4>
        </div>
        <div class="fastest-way__text-button-container">
            <a class="fastest-way__text-button" href="contact.html">Try for free</a>
        </div>
    </div>

    <div class="fastest-way__screen-notepad-container">
        <img class="fastest-way__screen-notepad" src="img/notepad.png" alt="Notepad">
    </div>

</section>