<!-- Features -->
<section class="features">

    <div class="features-title">
        <div class="features-title__text-title-container">
            <h2 class="features-title__text-title">Features</h2>
        </div>
        <div class="features-title__text-subtitle-container">
            <h4 class="features-title__text-subtitle">Most calendars are designed for teams. <span
                    class="features-title__text-subtitle-casper">Slate is designed
                    for freelancers</span></h4>
        </div>
    </div>
    <div class="features-item-container">
        <div class="button-prev">&#10094</div>
        <div class="carousel-container">
            <!-- <div class="features-item">
                <div class="features-item__icon-container">
                    <img class="features-item__icon" src="img/mdi_brush.png" alt="Brush">
                </div>
                <div class="features-item__title-container">
                    <h3 class="features-item__title">OpenType features Variable fonts</h3>
                </div>
                <div class="features-item__subtitle-container">
                    <p class="features-item__subtitle">Slate helps you see how many more days you need to work to
                        reach your financial goal.</p>
                </div>
            </div>
            <div class="features-item">
                <div class="features-item__icon-container">
                    <img class="features-item__icon" src="img/mdi_drawing.png" alt="Drawing">
                </div>
                <div class="features-item__title-container">
                    <h3 class="features-item__title">Design with real data</h3>
                </div>
                <div class="features-item__subtitle-container">
                    <p class="features-item__subtitle">Slate helps you see how many more days you need to work to
                        reach your financial goal.</p>
                </div>
            </div>
            <div class="features-item">
                <div class="features-item__icon-container">
                    <img class="features-item__icon" src="img/mdi_draw.png" alt="Draw">
                </div>
                <div class="features-item__title-container">
                    <h3 class="features-item__title">Fastest way to take action</h3>
                </div>
                <div class="features-item__subtitle-container">
                    <p class="features-item__subtitle">Slate helps you see how many more days you need to work to
                        reach your financial goal.</p>
                </div>
            </div> -->
        </div>
        <div class="button-next">&#10095</div>
    </div>
    <div class="features-video-presentation-container">
        <img class="features-video-presentation-fo-500px" src="img/screen.png" alt="Video screen">
        <img class="features-video-presentation-fo-1024px" width="800" src="img/video-screen.png" alt="Video screen">
    </div>

</section>