<!-- Subscribe to our Newsletter -->
<section class="subscribe-newsletter">
    <div class="subscribe-newsletter__image-container">
        <img class="subscribe-newsletter__image" src="img/undraw_newsletter_vovu.png" alt="Undrew newsletter">
    </div>
    <div class="subscribe-newsletter__text-information-container">
        <h3 class="subscribe-newsletter__text-subtitle">At your fingertips</h3>
        <h2 class="subscribe-newsletter__text-title-first">Newsletter</h2>
        <p class="subscribe-newsletter__text-p">Most calendars are designed for teams. Slate is designed for freelancers
        </p>
    </div>
    <div class="subscribe-newsletter__text-submission-form-container">
        <div class="subscribe-newsletter__form-title-container">
            <h3 class="subscribe-newsletter__form-subtitle">At your fingertips</h3>
            <h2 class="subscribe-newsletter__form-title">Lightning fast prototyping</h2>
        </div>
        <div class="subscribe-newsletter__form-container">
            <h3 class="subscribe-newsletter__text-submission-form-title">Subscribe to our Newsletter</h3>
            <p class="subscribe-newsletter__text-submission-form-subtitle">Available exclusivery on Figmaland
            </p>
            <!-- <div class="subscribe-newsletter__text-submission-form-input-data input-data"> -->
            <form id="contact-form-formspree-for-subscribe" class="input-data__form-contanier"
                action="https://formspree.io/f/mwkdvqdy" method="post">
                <div class="input-data__form-container-last">
                    <input class="input-data__form-text" type="email" placeholder="Your email *" name="email">
                    <button class="input-data__form-button" type="submit">Subscribe</button>
                    <div class="contact-form-status" id="contact-form-status-for-subscribe"></div>
                </div>
            </form>
        </div>
        <!-- </div> -->
    </div>

</section>